
.Admin_Main_Page_wrapper{
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
}

.Admin_Main_Page_Search {
    position: relative;
    height: 7.6vh;
    
    width: 70%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 2vw auto;
    
}
.Admin_Main_Page_Search input {
  height: 100%;
  width: 70%;
  outline: none;
  font-size: 1.82vh;
  font-weight: 400;
  border: none;
  padding: 0 23.6vh 0 3.8vh;
  background-color: transparent;
  
}
.ad_mp_search_button {
position: absolute;
top: 50%;
transform: translateY(-50%);
  right: 3vh;
  font-size: 2vh;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 2vh 4.5vh;
  border-radius: 8px;
  background-color: #4070f4;
  cursor: pointer;
}


.Admin_Main_Page_CheckBox{
    background-color: lightyellow;
    width: 20%;
    margin:  3vh 2vw 2vh 5vw;
    font-size: 1.2vw;
    
}

.Admin_Main_Page_ViewList {
    border-radius: 10px;
    width: 90%;
    margin: 1vw auto;
    background-color: lightblue;
    font-size: 1vw;
   
    
}




.Admin_Main_Page_ViewList > tbody > tr:not(:last-child) {
    border-bottom: 1px solid rgb(125, 125, 125);

}

.Admin_Main_Page_ViewList > tbody > tr {
    margin-top: 10%;

}
.Admin_Main_Page_Row_One > td {
    margin: 0 1vw;
    padding: 0.2vh  0.5vw;
    
}

.admin_Main_Page_td1 {
    width: 20%;
}
.admin_Main_Page_td2 {
    width: 23%;
}
.admin_Main_Page_td3 {
    width: 40%;
}
.Admin_Main_Page_RowDeleteButton,
.Admin_Main_Page_RowDetailButton{
    width: fit-content;
}
.Admin_Main_Page_RowDeleteButton > button,
.Admin_Main_Page_RowDetailButton > button{
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0.2vh 0.4vw;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0.5vh;
    background-color: #4070f4;
    font-size: 1vw;
    color: #fff;
}


    


/* .Admin_Main_Page_Buttons{
    display: flex;
    justify-content: space-between
}
.Admin_Main_Page_AddButton{
    margin: 5px;
}
.Admin_Main_Page_DeleteButton{
    margin: 5px;
} */